.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1055;
	/* sopra modali Bootstrap */
}

#editor {
	width: 100%;
	height: 400px;
	border: 1px solid #ced4da;
}

#stages {
	max-height: 400px;
	overflow-y: auto;
}

.stage-btn {
	margin-bottom: 5px;
	width: 100%;
}

#preview {
	height: 200px;
	overflow-y: auto;
	background: #f8f9fa;
	border: 1px solid #ced4da;
	padding: 10px;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0
}

fieldset.fieldset-bordered {
	border: var(--bs-border-width) var(--bs-border-style) #6c757d;
	border-radius: .25rem;
	padding: 0 1rem .75rem
}

fieldset.fieldset-bordered legend {
	padding: 0 1.5em
}

fieldset legend {
	font-family: "Titillium Web", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: .5rem;
	width: auto
}

fieldset legend.legend-inline {
	margin-bottom: 0;
	padding-right: 1rem
}

fieldset legend:not(.legend-inline) {
	float: none
}

fieldset.tree-view .form-check {
	margin: 0;
	padding: .25rem 0 .25rem 1.5em
}
