.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1055;
	/* sopra modali Bootstrap */
}

#editor {
	width: 100%;
	height: 400px;
	border: 1px solid #ced4da;
}

#stages {
	max-height: 400px;
	overflow-y: auto;
}

.stage-btn {
	margin-bottom: 5px;
	width: 100%;
}

#preview {
	height: 200px;
	overflow-y: auto;
	background: #f8f9fa;
	border: 1px solid #ced4da;
	padding: 10px;
}
