<%- include('partials/header') %>
<h1 class="mb-4">AWS S3 Bucket</h1>
<div class="row g-3">
    <div class="col-6">
        <input type="text" id="prefixInput" class="form-control" placeholder="Inserisci prefisso..." />
    </div>
    <div class="col-2">
        <button id="searchBtn" class="btn btn-primary w-100">
            Cerca
        </button>
    </div>
    <div class="col-2">
        <button id="delBtn" class="btn btn-primary w-100" onclick="delMassive()" disabled>
            Elimina tutti
        </button>
    </div>
    <div class="col-2">
        <a id="nq" href="/v2" class="btn btn-primary">Nuova query</a>
    </div>
</div>

<div id="empty" class="alert alert-warning d-none">
    Nessun risultato trovato.
</div>

<div id="execSearch" class="alert alert-warning">
    Esegui la ricerca
</div>

<div id="tableContainer" class="d-none">
    <div class="mb-3">
        <strong>Totale risultati:</strong>
        <span id="total"></span>
    </div>

    <table class="table table-striped align-middle">
        <thead class="table-dark">
            <tr>
                <th>Filename</th>
                <th>Size</th>
                <th>Last edit</th>
                <th style="width: 120px">Azioni</th>
            </tr>
        </thead>
        <tbody id="resultsBody"></tbody>
    </table>
</div>

</div>

<script>
    const empty = document.getElementById("empty");
    const execSearch = document.getElementById("execSearch");
    const tableContainer = document.getElementById("tableContainer");
    const resultsBody = document.getElementById("resultsBody");
    const totalEl = document.getElementById("total");
    const prefixInput = document.getElementById("prefixInput");
    const searchBtn = document.getElementById("searchBtn");
    const delBtn = document.getElementById("delBtn");

    function toggleSpinner() {
        const spinner = document.getElementById("loadingOverlay");
        if (spinner?.classList.contains("d-none")) {
            spinner?.classList.remove("d-none");
        } else {
            spinner?.classList.add("d-none");
        }
    }

    function formatSize(bytes) {
        const units = ['B', 'KB', 'MB', 'GB', 'TB', 'PB'];
        let size = bytes;
        let unitIndex = 0;

        while (size >= 1024 && unitIndex < units.length - 1) {
            size /= 1024;
            unitIndex++;
        }

        return `${size.toFixed(2)} ${units[unitIndex]}`;
    }

    async function loadResults(prefix = "") {
        toggleSpinner();
        execSearch.classList.add("d-none");
        empty.classList.add("d-none");
        tableContainer.classList.add("d-none");
        resultsBody.innerHTML = "";

        try {
            const encodedPrefix = encodeURIComponent(prefix);
            const res = await fetch(`/api/v2/s3${prefix !== "" ? "/"+encodedPrefix : ""}`);
            const data = await res.json();

            if (!data || data.length === 0) {
                empty.classList.remove("d-none");
                return;
            }

            totalEl.textContent = data.length;

            data.forEach((item, index) => {
                const tr = document.createElement("tr");
                tr.setAttribute("id", "row-"+index);
                tr.innerHTML = `
          <td>${item.fileName}</td>
          <td>${formatSize(item.size)}</td>
          <td>${!!item.lastModified ? new Date(item.lastModified).toLocaleDateString() : "N.D."}</td>
          <td>
            <div class="d-flex gap-1">
                <button class="btn btn-sm btn-primary" onclick="downloadFile(${index},'${item.fileName}')">Scarica</button>
                <button class="btn btn-sm btn-danger" onclick="deleteFile(${index},'${item.fileName}')">Elimina</button>
            </div>
          </td>
        `;
                resultsBody.appendChild(tr);
            });

            tableContainer.classList.remove("d-none");
            delBtn.removeAttribute("disabled");
        } catch (err) {
            delBtn.setAttribute("disabled", true);
            execSearch.classList.remove("d-none");
            empty.classList.add("d-none");
            alert("Errore nel caricamento dei dati");
            console.error(err);
        } finally {
            toggleSpinner();
        }
    }

    searchBtn.addEventListener("click", () => {
        loadResults(prefixInput.value.trim());
    });

    prefixInput.addEventListener("keydown", e => {
        if (e.key === "Enter") {
            loadResults(prefixInput.value.trim());
        }
    });

    async function delMassive() {
        if(!prefixInput.value) {
            alert("Impossibile eliminare senza inserire un prefisso.");
            return;
        } else {
            if(!confirm(`Sei sicuro di voler eliminare i file con il prefisso ${prefixInput.value}?`)) {
                return;
            }
            toggleSpinner();
            try {
                const res = await fetch(`/api/v2/s3-del-many/${prefixInput.value.trim()}`);
                if(!res.ok) {
                    throw Error((await res.json()).message);
                }
                delBtn.setAttribute("disabled", true);
                toggleSpinner();
                await loadResults(prefixInput.value.trim());
            } catch (error) {
                toggleSpinner();
                alert(error.message);
            }
        }
    }

    async function deleteFile(index, id) {
        if (!confirm(`Sei sicuro di voler eliminare il file ${id}?`)) {
            return;
        }

        const btn = document.querySelector(
            `#row-${index} button:nth-child(2)`
        );
        btn.disabled = true;
        btn.textContent = "Elimino...";

        try {
            const res = await fetch(`/api/v2/s3-del-one/${encodeURIComponent(id)}`);

            if (!res.ok) {
                throw new Error("Errore eliminazione");
            }

            document.getElementById(`row-${index}`).remove();

            const totalEl = document.getElementById("total");
            totalEl.textContent = Number(totalEl.textContent) - 1;

            if (Number(totalEl.textContent) === 0) {
                document.getElementById("tableContainer").classList.add("d-none");
                document.getElementById("empty").classList.remove("d-none");
            }

        } catch (err) {
            alert("Errore durante l'eliminazione");
            btn.disabled = false;
            btn.textContent = "Elimina";
            console.error(err);
        }
    }
    async function downloadFile(index, id) {
        const btn = document.querySelector(
            `#row-${index} button`
        );
        try {
            btn.disabled = true;
            btn.textContent = "Scarico...";
            const response = await fetch("/api/v2/s3-download/"+ encodeURIComponent(id));
            const contentDisposition = response.headers.get('Content-Disposition');
            const blob = await response.blob();
            const link = document.createElement('a');
            const objectURL = URL.createObjectURL(blob);
            link.href = objectURL;
            link.download = contentDisposition.substring(contentDisposition.indexOf("filename=")+"filename=".length);
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            URL.revokeObjectURL(objectURL);
            btn.disabled = false;
            btn.textContent = "Scarica";
        } catch (error) {
            alert("Errore durante il download");
            btn.disabled = false;
            btn.textContent = "Scarica";
            console.error(err);
        }
    }
</script>

<%- include('partials/footer') %>
